{% extends "base.html" %}

{% block titulo %}
<title>Acerca de mi</title>
{% endblock titulo %}


{% block contenido %}
<h1 style="color:rgb(51, 170, 218);">Hola, Soy Abornoz Ezequiel, creador de Coderblog</h1>
<br>
<h3>Mi nombre es Albornoz Ezequiel, vivo en Cordoba, Argentina. Soy alumno de CoderHouse, del curso de python.
empeze este curos sin ningun conocimiento previo, y con el objetivo de empezar a ingresar de a poco al mundo de la programacion.
y sinceramente me gusto demasiado y ya estoy inscripto en la carrera de programacion full stack
con un objetivo de aprender mucho mas y el dia de mañana poder trabajar de esto que me gusta.
este proyecto me costo bastante y dude si iba a poder hacer esto y la verdad hoy estoy orgulloso de lo que pude lograr 
espero que a vos que estas viendo este blog y este simple texto tambien te motive a hacer lo que te gusta y no pensar en que no lo podes lograr.
Hasta pronto, espero que te guste esta web.
</h3>
{% endblock contenido %}